@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin-top: 1.5rem;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 1rem;
}

li {
  margin-top: 0.5rem;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: #5585ff;
}

strong, h1 {
    color: rgb(11, 11, 11);
    font-weight: bold;
}

figcaption {
  font-size: 1rem;
}


.visible2 {
  /* display: flex; */
  top: 0;
  transition: top 0.4s ease-out;
}

.hidden2 {
  /* display: none; */
  top: -80px;
  transition: top 0.42s ease-out;
}